
body {
  background-color: #f5f5f5;
  background-image: linear-gradient(90deg, #eaeaea 1px, transparent 2px),
                    linear-gradient(90deg, #eaeaea 1px, transparent 2px);
  background-size: 5px 5px;
  background-position: top left;
  min-height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  z-index: 1;
}

/* Main Card Container */
.card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  color: #333333;
  max-width: 100%;
  margin: auto;
  margin-top: 75px;
}


/* Table Styles */
.p-datatable { 
  border: 3px solid #d1d1d1;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  text-align: center;

}

.p-datatable-header {
  padding: 0.5rem 1rem;
  background-color: #eaeaea;
  text-align: center;
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid #d1d1d1;
}

.p-datatable-thead > tr > th {
  background-color: #eaeaea;
  color: #333333;
  text-align: center;
  padding: 0.5rem 0.75rem;
  border-bottom: 2px solid #d1d1d1;
  font-weight: 600;
}


.p-datatable-tbody > tr > td {
  padding: 0.5rem 0.75rem;
  color: #4f4f4f;
  border: none;
  border-bottom: 1px solid #f0f0f0;
}

.p-datatable-tbody > tr:hover {
  background-color: #eaeaea;
            
  cursor: pointer;  
}

/* Adjusted Search Bar */
.p-input-icon-left .p-inputtext {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #333333;
  border-radius: 6px;
  width: 400px; 
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  font-weight: 600;
}


.p-datatable-thead > tr > th:nth-child(1) .p-inputtext {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #615858;
  border-radius: 6px;
  width: 275px;
  padding: 0.5rem;
  font-size: 0.9rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 600;
}

.p-datatable-thead > tr > th:nth-child(2) .p-inputtext:focus {
  border-color: #cccccc;
  box-shadow: 0 0 8px rgba(94, 94, 201, 0.5);
}

.p-datatable-thead > tr > th:nth-child(1) .p-inputtext::placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.p-datatable-thead > tr > th:nth-child(2) .p-inputtext {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #615858;
  border-radius: 6px;
  width: 275px; 
  padding: 0.5rem;
  font-size: 0.9rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.p-datatable-thead > tr > th:nth-child(2) .p-inputtext:focus {
  border-color: #aaaaaa;
  box-shadow: 0 0 8px rgba(94, 94, 201, 0.5);
}

.p-datatable-thead > tr > th:nth-child(2) .p-inputtext::placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.p-inputtext::placeholder {
  color: #aaaaaa;
}


.p-column-filter .p-dropdown {
  width: 170px;
  padding: 0.5rem;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #333333;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.p-dropdown-panel .p-dropdown-item {
  background-color: #ffffff;
  color: #333333;
  font-weight: 500;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  text-align: center;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.mun-dropdown{
  width: 300px;
  margin-left: 10px;
  padding: 0.45rem 0.75rem;
  font-weight: 600;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #333333;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.p-dropdown-panel .p-dropdown-item:hover {
  background-color: #eaeaea;
  color: #81b4ea;            
  cursor: pointer;          
}

/* Tag Styles */
.p-tag-success {
  background-color: #1aa244;
  color: #ffffff;
  font-weight: 600;
  border-radius: 20px; 
  width: 100px;
  padding: 0.25rem 0.5rem;
}

.p-tag-warning {
  background-color: #fdbf00;
  color: #ffffff;
  font-weight: 600;
  width: 100px;
  border-radius: 20px; 
  padding: 0.25rem 0.5rem;
}

.p-tag-danger {
  background-color: #1aa244;
  color: #ffffff;
  font-weight: 600;
  border-radius: 20px; 
  width: 100px;
  padding: 0.25rem 0.5rem;
}

.p-tag-info {
  background-color: #dd3d43;
  color: #ffffff;
  font-weight: 600;
  border-radius: 20px;
  width: 100px; 
  padding: 0.25rem 0.5rem;
}

/* Paginator Styles */
.p-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  border-top: 1px solid #d1d1d1;
  border-radius: 0 0 8px 8px;
  padding: 0.75rem;
  
}

.p-paginator .p-paginator-page {
  background-color: transparent;
  color: #333333;
  padding: 1rem;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  margin: 0 0.75rem;
  transition: background-color 0.2s ease;
}

.p-paginator .p-paginator-page:hover,
.p-paginator .p-paginator-page.p-highlight {
  background-color: #81b4ea;
  color: #ffffff;
}

.p-paginator .p-paginator-icon:hover {
  color: #81b4ea;
}


.p-dropdown-empty-message {
  background-color: #ffffff; 
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  font-weight: 600;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}