/* Profile Page Container */
.profile-page-container {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Profile Page Styling */
.profile-page {
  margin-top: 120px;
  margin-bottom: 40px;
  max-width: 600px;
  width: 100%;
  background-color: #e1e1e1;
  border-radius: 10px;
  box-shadow: 2px 12px 14px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}


.header-pname {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.profile-avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.profile-details {
  padding: 20px;
}

.detail-section {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 81px;
  font-size: 16px;
}

.readonly-input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Light gray border */
  background-color: #f0f0f0; /* Lighter background color */
  margin: 0 auto;
  display: block;
  cursor: not-allowed; /* Indicate that it's not editable */
  color: #777; /* Lighter text color */
}

.editable-input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #81b4ea;
  background-color: white;
  margin: 0 auto;
  display: block;
}

.select-input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #81b4ea;
  background-color: white;
  margin: 0 auto;
  display: block;
}

.edit-dropdown{
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #333333;
  border-radius: 6px;
  margin: 0 auto;
  display: block;
}

.p-editdropdown-panel .p-editdropdown-item {
  background-color: #ffffff;
  color: #333333;
  font-weight: 500;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  text-align: center;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.p-editdropdown-panel .p-editdropdown-item:hover {
  background-color: #eaeaea;
  color: #181c24;            
  cursor: pointer;          
}


.editable-input:focus {
  border-color: #181c24; /* Focus border color */
}

/* Button Styles */
.button-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.save-button,
.cancel-button,
.edit-button {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-top: 20px;
}

.save-button {
  background-color: #28a745;
}

.cancel-button {
  background-color: #dc3545;
}

.edit-button {
  background-color: #131e35;
  margin-left: 395px;
  padding: 10px 30px;
}


.save-button:hover{
  background-color: #81ea9b;
  transition: background-color 0.5s ease, color 0.5s ease;
  color: #131e35;
}

.cancel-button:hover{
  background-color: #ea8181;
  transition: background-color 0.5s ease, color 0.5s ease;
  color: #131e35;
}

.edit-button:hover {
  background-color: #81b4ea;
  transition: background-color 0.5s ease, color 0.5s ease;
  color: #131e35;
}

.back-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #131e35;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.back-button:hover {
  background-color: #81b4ea;
  transition: background-color 0.5s ease, color 0.5s ease;
  color: #131e35;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Container */
.modal-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Modal Buttons */
.modal-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px; /* Equal spacing between buttons */
  justify-content: center; /* Center-align the buttons */
}

/* Button Styles */
.confirm-button,
.cancel2-button,
.close-button {
  padding: 10px 10px; /* Consistent padding */
  font-size: 16px; /* Uniform font size */
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 120px; /* Fixed width for consistency */
  text-align: center; /* Center-align text */
}

.confirm-button {
  background-color: #28a745;
}

.cancel2-button {
  background-color: #dc3545;
}

.close-button {
  margin-top: 30px;
  background-color: #007bff;
}

/* Hover Effects */
.confirm-button:hover {
  background-color: #81ea9b;
  color: #131e35;
}

.cancel2-button:hover {
  background-color: #ea8181;
  color: #131e35;
}

.close-button:hover {
  background-color: #81b4ea;
  color: #131e35;
}





